html
	head
		title Admin

		link(rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.css")
		block css
			
		
	body
		#wrapper.container
			header#main-header
				nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
					.navbar-header
						a.navbar-brand(href="/admin/") Admin

					ul.nav.navbar-nav
						li: a(href="/admin/make") Makers
						li: a(href="/admin/model") Models
						li: a(href="/admin/color") Colors
						li: a(href="/admin/component") Components
						li: a(href="/admin/vehicle") Vehicles

			#content
				block content

		script(src="/components/jquery/jquery.js")
		script(src="/components/bootstrap/dist/js/bootstrap.js")
		block scripts
			
